.container{
  width: 100%;
  min-height: 900px;
  background-color: aquamarine;

}
.formcontainer{
  width: 80%;
  min-height: 200px;
  padding: 30px;
  background-color: skyblue;
  align-items: center;
}

@media screen and (min-width:2000px){
      .container{
        width: 10rem;
      }
}